@use '../../styles/variables' as *;

.timer {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding-block-start: 60px;
  padding-block-end: 40px;
  position: relative;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  &__confeti {
    position: absolute;
    top: 80px;
    z-index: 5;
  }

  &__container {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    position: relative;
    justify-content: center;
    background-image: url('../../assets/stopwatch.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__input_container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  &__input {
    width: 80px;
    height: 50px;
    padding: 0 10px;
    margin-block-end: 30px;
    border-style: none;
    outline: none;
    border: 1px solid $main-color;
    border-radius: 5px;
    @include font-style(Helvetica, 600, 2.6rem, 0px, $font-color);
  }

  &__counter {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  &__counter_text {
    margin-block-end: 30px;
    @include font-style(Helvetica, 600, 5rem, 1px, $main-color);
  }

  &__btn {
    width: 80px;
    height: 50px;
    position: absolute;
    top: -55px;
    border-style: none;
    outline: none;
    border-radius: 5px;
    background-color: $main-color;
    cursor: pointer;
    @include font-style(Helvetica, 400, 2rem, 1px, $white-color);
    transition: transform 200ms ease-out;
  }

  .play {
    transform: translateY(3px);
  }
  .play:active {
    transform: translateY(10px);
    transition: transform 100ms ease-in;
  }

  .stop {
    transform: translateX(-115px) translateY(50px) rotate(-45deg);
  }
  .stop:active {
    transform: translateX(-110px) translateY(55px) rotate(-45deg);
    transition: transform 100ms ease-in;
  }

  .reset {
    transform: translateX(115px) translateY(50px) rotate(45deg);
  }
  .reset:active {
    transform: translateX(110px) translateY(55px) rotate(45deg);
    transition: transform 100ms ease-in;
  }

  &__btn:hover {
    opacity: 0.9;
  }

  &__btn:active {
    opacity: 0.9;
    transform: scale(0.95);
  }

}